# Download data and unzip

In [ ]:
!wget --content-disposition 'https://docs.google.com/uc?export=download&id=1-mpuwj2H45sHGRa-N1PQ8qeBSzmM1ubx' 
!apt-get install unzip
!unzip 'competitive-data-science-predict-future-sales.zip' -d data
!gunzip 'data/test.csv.gz'
!gunzip 'data/sample_submission.csv.gz'
!gunzip 'data/sales_train.csv.gz'

--2019-05-10 07:08:49--  https://docs.google.com/uc?export=download&id=1-mpuwj2H45sHGRa-N1PQ8qeBSzmM1ubx
Resolving docs.google.com (docs.google.com)... 172.217.24.14, 2404:6800:4008:802::200e
Connecting to docs.google.com (docs.google.com)|172.217.24.14|:443... connected.
HTTP request sent, awaiting response... 302 Moved Temporarily
Location: https://doc-00-ao-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/ti7c4dluujdekv008ueb89g5tfi7dpr5/1557439200000/10974934039054397010/*/1-mpuwj2H45sHGRa-N1PQ8qeBSzmM1ubx?e=download [following]
Warning: wildcards not supported in HTTP.
--2019-05-10 07:08:52--  https://doc-00-ao-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/ti7c4dluujdekv008ueb89g5tfi7dpr5/1557439200000/10974934039054397010/*/1-mpuwj2H45sHGRa-N1PQ8qeBSzmM1ubx?e=download
Resolving doc-00-ao-docs.googleusercontent.com (doc-00-ao-docs.googleusercontent.com)... 172.217.160.97, 2404:6800:4012:1::2001
Connecting to doc-00-ao-docs.googleusercontent.com (doc-00-ao-docs.googleusercontent.com)|172.217.160.97|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘competitive-data-science-predict-future-sales.zip.1’

competitive-data-sc     [       <=>          ]  14.26M  10.4MB/s    in 1.4s

2019-05-10 07:08:54 (10.4 MB/s) - ‘competitive-data-science-predict-future-sales.zip.1’ saved [14948480]

E: Could not open lock file /var/lib/dpkg/lock-frontend - open (13: Permission denied)
E: Unable to acquire the dpkg frontend lock (/var/lib/dpkg/lock-frontend), are you root?
Archive:  competitive-data-science-predict-future-sales.zip
  inflating: data/test.csv.gz
  inflating: data/sample_submission.csv.gz
  inflating: data/sales_train.csv.gz
replace data/shops.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: ^C
gzip: data/test.csv already exists; do you wish to overwrite (y or n)?

In [1]:
import torch
from torch import nn, optim
import torch.nn.functional as F
import matplotlib.pyplot as plt
import sys
import time
import numpy as np
import math
import pandas as pd
from datetime import datetime
from torch.autograd import Variable
from torch.utils.data import Dataset, DataLoader
import random
import datetime

In [2]:
# items = pd.read_csv('data/items.csv')
# shops = pd.read_csv('data/shops.csv')
# cats = pd.read_csv('data/item_categories.csv')
train = pd.read_csv('data/sales_train.csv', parse_dates=['date'], infer_datetime_format=True, dayfirst=True)

test  = pd.read_csv('data/test.csv').set_index('ID')

In [3]:
num_shops = train['shop_id'].max()
print ('number of shops: ',num_shops )

num_items = train['item_id'].max()
print ('number of items: ', num_items)
num_month = train['date_block_num'].max()
print ('number of month: ', num_month)
print ('size of train: ', train.shape)
train[:10]

number of shops:  59
number of items:  22169
number of month:  33
size of train:  (2935849, 6)

        date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0 2013-01-02               0       59    22154      999.00           1.0
1 2013-01-03               0       25     2552      899.00           1.0
2 2013-01-05               0       25     2552      899.00          -1.0
3 2013-01-06               0       25     2554     1709.05           1.0
4 2013-01-15               0       25     2555     1099.00           1.0
5 2013-01-10               0       25     2564      349.00           1.0
6 2013-01-02               0       25     2565      549.00           1.0
7 2013-01-04               0       25     2572      239.00           1.0
8 2013-01-11               0       25     2572      299.00           1.0
9 2013-01-03               0       25     2573      299.00           3.0

In [4]:
test[:10]

    shop_id  item_id
ID
0         5     5037
1         5     5320
2         5     5233
3         5     5232
4         5     5268
5         5     5039
6         5     5041
7         5     5046
8         5     5319
9         5     5003

In [5]:
np.array(test)

array([[    5,  5037],
       [    5,  5320],
       [    5,  5233],
       ...,
       [   45, 15757],
       [   45, 19648],
       [   45,   969]])

In [6]:
train_num = train.groupby(['date_block_num','shop_id','item_id']).sum().reset_index()
train_num = train_num.drop(labels=['item_price'], axis=1)
train_num[:10]

   date_block_num  shop_id  item_id  item_cnt_day
0               0        0       32           6.0
1               0        0       33           3.0
2               0        0       35           1.0
3               0        0       43           1.0
4               0        0       51           2.0
5               0        0       61           1.0
6               0        0       75           1.0
7               0        0       88           1.0
8               0        0       95           1.0
9               0        0       96           1.0

In [7]:
def GetValue(data,inpu):
  data = np.array(data).astype('int')
  inpu = np.array(inpu).astype('int')
  
  lent = len(inpu)
  
  for i in range(lent):
    d = inpu[i]
    #print(d)
    data[d[1],d[2],d[0]] = d[3]
  return data

In [8]:
def CreatDataSe(train_num,num_shops,num_item,num_month):
  S = []
  for x in range(num_shops+1):
    I = []
    for y in range(num_item+1):
      M = []
      for z in range(num_month+1):
        value = 0
        M.append(value)
      I.append(M)
      #print('item : '+format(y))
    S.append(I)
    #print('shop : '+format(x))
  return np.array(S).astype('int')

In [9]:
S = CreatDataSe(train_num,num_shops,num_items,num_month)

In [10]:
S.shape

(60, 22170, 34)

In [11]:
S[58,10,:]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [12]:
G = GetValue(S,train_num)

In [13]:
G[10]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [14]:
np.array(test)

array([[    5,  5037],
       [    5,  5320],
       [    5,  5233],
       ...,
       [   45, 15757],
       [   45, 19648],
       [   45,   969]])

In [15]:
G.shape

(60, 22170, 34)

In [16]:
G[42,13485,:]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 5, 2, 2, 1, 0, 4, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [17]:
def create_dataset(dataset,on,look_back=2):
    dataX, dataY=[], []
    for i in range(len(dataset)-look_back):
        a=dataset[i:(i+look_back)]
        dataX.append(a)
        
        #dataX.append()
        dataY.append(dataset[i+look_back])
    return np.array(dataX), np.array(dataY)

In [18]:
def appendPrediction(NET,Data,week):#7 week
  for i in range(week):
    length  = len(Data)
    pre_in = np.array([[Data[length-2],Data[length-1]]])
    #print(length)
    
    pre_in = torch.unsqueeze(torch.from_numpy(pre_in), dim=1).float().cuda()
    #print(pre_in)
    peak_add = NET(pre_in).view(-1).data.cpu().numpy()[0]
    #print(peak_add)
    Data = np.append(Data,peak_add)
    
  return Data

In [19]:
class lstm_reg(torch.nn.Module):
  
  def __init__(self,input_size,hidden_size, output_size=1,num_layers=2):
    super(lstm_reg,self).__init__()

    self.rnn = torch.nn.LSTM(input_size,hidden_size,num_layers)
    self.reg = torch.nn.Linear(hidden_size,output_size)

  def forward(self,x):
    x, _ = self.rnn(x)
    s,b,h = x.shape
    x = x.view(s*b, h)
    x = self.reg(x)
    x = x.view(s,b,-1)
    return x

In [20]:
def trainAndPredictItem(data,a):
  a = np.array(a)
  data = np.array(data)
  iteamNum = []
  length = len(a)
  for i in range(length):
    d = data[a[i,0],a[i,1],:]
    #print(d)
    train_X2 ,train_Y2 = create_dataset(d.reshape(len(d),1),2)
    train_x2 = train_X2.reshape(-1,1,2)
    train_y2 = train_Y2.reshape(-1,1,1)
    train_x2 = Variable(torch.from_numpy(train_x2)).float()
    train_y2 = Variable(torch.from_numpy(train_y2)).float()
    Net = lstm_reg(2,8).cuda()
    criterion = torch.nn.MSELoss()
    optimizer1 = torch.optim.Adam(Net.parameters(),lr=1e-2)
    for e in range(10):
      var_x2 = Variable(train_x2).cuda()
      var_y2 = Variable(train_y2).cuda()
      out = Net(var_x2)
      loss = criterion(out, var_y2)
      optimizer1.zero_grad()
      loss.backward()
      optimizer1.step()
    pred = Net(Variable(train_x2).cuda())
    pred = pred.view(-1).data.cpu().numpy()
    pred = appendPrediction(Net,pred,1)
    s = pred[len(pred)-1]
    iteamNum.append(s)
    if i%800==0:
      print('Caculate: {}/{}, Finish:{:.2f} %'.format(i,length,100*(i/length)))
  return iteamNum

In [21]:
result = trainAndPredictItem(G,np.array(test))

Caculate: 0/214200, Finish:0.00 %
Caculate: 800/214200, Finish:0.37 %
Caculate: 1600/214200, Finish:0.75 %
Caculate: 2400/214200, Finish:1.12 %
Caculate: 3200/214200, Finish:1.49 %
Caculate: 4000/214200, Finish:1.87 %
Caculate: 4800/214200, Finish:2.24 %
Caculate: 5600/214200, Finish:2.61 %
Caculate: 6400/214200, Finish:2.99 %
Caculate: 7200/214200, Finish:3.36 %
Caculate: 8000/214200, Finish:3.73 %
Caculate: 8800/214200, Finish:4.11 %
Caculate: 9600/214200, Finish:4.48 %
Caculate: 10400/214200, Finish:4.86 %
Caculate: 11200/214200, Finish:5.23 %
Caculate: 12000/214200, Finish:5.60 %
Caculate: 12800/214200, Finish:5.98 %
Caculate: 13600/214200, Finish:6.35 %
Caculate: 14400/214200, Finish:6.72 %
Caculate: 15200/214200, Finish:7.10 %
Caculate: 16000/214200, Finish:7.47 %
Caculate: 16800/214200, Finish:7.84 %
Caculate: 17600/214200, Finish:8.22 %
Caculate: 18400/214200, Finish:8.59 %
Caculate: 19200/214200, Finish:8.96 %
Caculate: 20000/214200, Finish:9.34 %
Caculate: 20800/214200, Finish:9.71 %
Caculate: 21600/214200, Finish:10.08 %
Caculate: 22400/214200, Finish:10.46 %
Caculate: 23200/214200, Finish:10.83 %
Caculate: 24000/214200, Finish:11.20 %
Caculate: 24800/214200, Finish:11.58 %
Caculate: 25600/214200, Finish:11.95 %
Caculate: 26400/214200, Finish:12.32 %
Caculate: 27200/214200, Finish:12.70 %
Caculate: 28000/214200, Finish:13.07 %
Caculate: 28800/214200, Finish:13.45 %
Caculate: 29600/214200, Finish:13.82 %
Caculate: 30400/214200, Finish:14.19 %
Caculate: 31200/214200, Finish:14.57 %
Caculate: 32000/214200, Finish:14.94 %
Caculate: 32800/214200, Finish:15.31 %
Caculate: 33600/214200, Finish:15.69 %
Caculate: 34400/214200, Finish:16.06 %
Caculate: 35200/214200, Finish:16.43 %
Caculate: 36000/214200, Finish:16.81 %
Caculate: 36800/214200, Finish:17.18 %
Caculate: 37600/214200, Finish:17.55 %
Caculate: 38400/214200, Finish:17.93 %
Caculate: 39200/214200, Finish:18.30 %
Caculate: 40000/214200, Finish:18.67 %
Caculate: 40800/214200, Finish:19.05 %
Caculate: 41600/214200, Finish:19.42 %
Caculate: 42400/214200, Finish:19.79 %
Caculate: 43200/214200, Finish:20.17 %
Caculate: 44000/214200, Finish:20.54 %
Caculate: 44800/214200, Finish:20.92 %
Caculate: 45600/214200, Finish:21.29 %
Caculate: 46400/214200, Finish:21.66 %
Caculate: 47200/214200, Finish:22.04 %
Caculate: 48000/214200, Finish:22.41 %
Caculate: 48800/214200, Finish:22.78 %
Caculate: 49600/214200, Finish:23.16 %
Caculate: 50400/214200, Finish:23.53 %
Caculate: 51200/214200, Finish:23.90 %
Caculate: 52000/214200, Finish:24.28 %
Caculate: 52800/214200, Finish:24.65 %
Caculate: 53600/214200, Finish:25.02 %
Caculate: 54400/214200, Finish:25.40 %
Caculate: 55200/214200, Finish:25.77 %
Caculate: 56000/214200, Finish:26.14 %
Caculate: 56800/214200, Finish:26.52 %
Caculate: 57600/214200, Finish:26.89 %
Caculate: 58400/214200, Finish:27.26 %
Caculate: 59200/214200, Finish:27.64 %
Caculate: 60000/214200, Finish:28.01 %
Caculate: 60800/214200, Finish:28.38 %
Caculate: 61600/214200, Finish:28.76 %
Caculate: 62400/214200, Finish:29.13 %
Caculate: 63200/214200, Finish:29.51 %
Caculate: 64000/214200, Finish:29.88 %
Caculate: 64800/214200, Finish:30.25 %
Caculate: 65600/214200, Finish:30.63 %
Caculate: 66400/214200, Finish:31.00 %
Caculate: 67200/214200, Finish:31.37 %
Caculate: 68000/214200, Finish:31.75 %
Caculate: 68800/214200, Finish:32.12 %
Caculate: 69600/214200, Finish:32.49 %
Caculate: 70400/214200, Finish:32.87 %
Caculate: 71200/214200, Finish:33.24 %
Caculate: 72000/214200, Finish:33.61 %
Caculate: 72800/214200, Finish:33.99 %
Caculate: 73600/214200, Finish:34.36 %
Caculate: 74400/214200, Finish:34.73 %
Caculate: 75200/214200, Finish:35.11 %
Caculate: 76000/214200, Finish:35.48 %
Caculate: 76800/214200, Finish:35.85 %
Caculate: 77600/214200, Finish:36.23 %
Caculate: 78400/214200, Finish:36.60 %
Caculate: 79200/214200, Finish:36.97 %
Caculate: 80000/214200, Finish:37.35 %
Caculate: 80800/214200, Finish:37.72 %
Caculate: 81600/214200, Finish:38.10 %
Caculate: 82400/214200, Finish:38.47 %
Caculate: 83200/214200, Finish:38.84 %
Caculate: 84000/214200, Finish:39.22 %
Caculate: 84800/214200, Finish:39.59 %
Caculate: 85600/214200, Finish:39.96 %
Caculate: 86400/214200, Finish:40.34 %
Caculate: 87200/214200, Finish:40.71 %
Caculate: 88000/214200, Finish:41.08 %
Caculate: 88800/214200, Finish:41.46 %
Caculate: 89600/214200, Finish:41.83 %
Caculate: 90400/214200, Finish:42.20 %
Caculate: 91200/214200, Finish:42.58 %
Caculate: 92000/214200, Finish:42.95 %
Caculate: 92800/214200, Finish:43.32 %
Caculate: 93600/214200, Finish:43.70 %
Caculate: 94400/214200, Finish:44.07 %
Caculate: 95200/214200, Finish:44.44 %
Caculate: 96000/214200, Finish:44.82 %
Caculate: 96800/214200, Finish:45.19 %
Caculate: 97600/214200, Finish:45.56 %
Caculate: 98400/214200, Finish:45.94 %
Caculate: 99200/214200, Finish:46.31 %
Caculate: 100000/214200, Finish:46.69 %
Caculate: 100800/214200, Finish:47.06 %
Caculate: 101600/214200, Finish:47.43 %
Caculate: 102400/214200, Finish:47.81 %
Caculate: 103200/214200, Finish:48.18 %
Caculate: 104000/214200, Finish:48.55 %
Caculate: 104800/214200, Finish:48.93 %
Caculate: 105600/214200, Finish:49.30 %
Caculate: 106400/214200, Finish:49.67 %
Caculate: 107200/214200, Finish:50.05 %
Caculate: 108000/214200, Finish:50.42 %
Caculate: 108800/214200, Finish:50.79 %
Caculate: 109600/214200, Finish:51.17 %
Caculate: 110400/214200, Finish:51.54 %
Caculate: 111200/214200, Finish:51.91 %
Caculate: 112000/214200, Finish:52.29 %
Caculate: 112800/214200, Finish:52.66 %
Caculate: 113600/214200, Finish:53.03 %
Caculate: 114400/214200, Finish:53.41 %
Caculate: 115200/214200, Finish:53.78 %
Caculate: 116000/214200, Finish:54.15 %
Caculate: 116800/214200, Finish:54.53 %
Caculate: 117600/214200, Finish:54.90 %
Caculate: 118400/214200, Finish:55.28 %
Caculate: 119200/214200, Finish:55.65 %
Caculate: 120000/214200, Finish:56.02 %
Caculate: 120800/214200, Finish:56.40 %
Caculate: 121600/214200, Finish:56.77 %
Caculate: 122400/214200, Finish:57.14 %
Caculate: 123200/214200, Finish:57.52 %
Caculate: 124000/214200, Finish:57.89 %
Caculate: 124800/214200, Finish:58.26 %
Caculate: 125600/214200, Finish:58.64 %
Caculate: 126400/214200, Finish:59.01 %
Caculate: 127200/214200, Finish:59.38 %
Caculate: 128000/214200, Finish:59.76 %
Caculate: 128800/214200, Finish:60.13 %
Caculate: 129600/214200, Finish:60.50 %
Caculate: 130400/214200, Finish:60.88 %
Caculate: 131200/214200, Finish:61.25 %
Caculate: 132000/214200, Finish:61.62 %
Caculate: 132800/214200, Finish:62.00 %
Caculate: 133600/214200, Finish:62.37 %
Caculate: 134400/214200, Finish:62.75 %
Caculate: 135200/214200, Finish:63.12 %
Caculate: 136000/214200, Finish:63.49 %
Caculate: 136800/214200, Finish:63.87 %
Caculate: 137600/214200, Finish:64.24 %
Caculate: 138400/214200, Finish:64.61 %
Caculate: 139200/214200, Finish:64.99 %
Caculate: 140000/214200, Finish:65.36 %
Caculate: 140800/214200, Finish:65.73 %
Caculate: 141600/214200, Finish:66.11 %
Caculate: 142400/214200, Finish:66.48 %
Caculate: 143200/214200, Finish:66.85 %
Caculate: 144000/214200, Finish:67.23 %
Caculate: 144800/214200, Finish:67.60 %
Caculate: 145600/214200, Finish:67.97 %
Caculate: 146400/214200, Finish:68.35 %
Caculate: 147200/214200, Finish:68.72 %
Caculate: 148000/214200, Finish:69.09 %
Caculate: 148800/214200, Finish:69.47 %
Caculate: 149600/214200, Finish:69.84 %
Caculate: 150400/214200, Finish:70.21 %
Caculate: 151200/214200, Finish:70.59 %
Caculate: 152000/214200, Finish:70.96 %
Caculate: 152800/214200, Finish:71.34 %
Caculate: 153600/214200, Finish:71.71 %
Caculate: 154400/214200, Finish:72.08 %
Caculate: 155200/214200, Finish:72.46 %
Caculate: 156000/214200, Finish:72.83 %
Caculate: 156800/214200, Finish:73.20 %
Caculate: 157600/214200, Finish:73.58 %
Caculate: 158400/214200, Finish:73.95 %
Caculate: 159200/214200, Finish:74.32 %
Caculate: 160000/214200, Finish:74.70 %
Caculate: 160800/214200, Finish:75.07 %
Caculate: 161600/214200, Finish:75.44 %
Caculate: 162400/214200, Finish:75.82 %
Caculate: 163200/214200, Finish:76.19 %
Caculate: 164000/214200, Finish:76.56 %
Caculate: 164800/214200, Finish:76.94 %
Caculate: 165600/214200, Finish:77.31 %
Caculate: 166400/214200, Finish:77.68 %
Caculate: 167200/214200, Finish:78.06 %

Caculate: 168000/214200, Finish:78.43 %
Caculate: 168800/214200, Finish:78.80 %
Caculate: 169600/214200, Finish:79.18 %
Caculate: 170400/214200, Finish:79.55 %
Caculate: 171200/214200, Finish:79.93 %
Caculate: 172000/214200, Finish:80.30 %
Caculate: 172800/214200, Finish:80.67 %
Caculate: 173600/214200, Finish:81.05 %
Caculate: 174400/214200, Finish:81.42 %
Caculate: 175200/214200, Finish:81.79 %
Caculate: 176000/214200, Finish:82.17 %
Caculate: 176800/214200, Finish:82.54 %
Caculate: 177600/214200, Finish:82.91 %
Caculate: 178400/214200, Finish:83.29 %
Caculate: 179200/214200, Finish:83.66 %
Caculate: 180000/214200, Finish:84.03 %
Caculate: 180800/214200, Finish:84.41 %
Caculate: 181600/214200, Finish:84.78 %
Caculate: 182400/214200, Finish:85.15 %
Caculate: 183200/214200, Finish:85.53 %
Caculate: 184000/214200, Finish:85.90 %
Caculate: 184800/214200, Finish:86.27 %
Caculate: 185600/214200, Finish:86.65 %
Caculate: 186400/214200, Finish:87.02 %
Caculate: 187200/214200, Finish:87.39 %
Caculate: 188000/214200, Finish:87.77 %
Caculate: 188800/214200, Finish:88.14 %
Caculate: 189600/214200, Finish:88.52 %
Caculate: 190400/214200, Finish:88.89 %
Caculate: 191200/214200, Finish:89.26 %
Caculate: 192000/214200, Finish:89.64 %
Caculate: 192800/214200, Finish:90.01 %
Caculate: 193600/214200, Finish:90.38 %
Caculate: 194400/214200, Finish:90.76 %
Caculate: 195200/214200, Finish:91.13 %
Caculate: 196000/214200, Finish:91.50 %
Caculate: 196800/214200, Finish:91.88 %
Caculate: 197600/214200, Finish:92.25 %
Caculate: 198400/214200, Finish:92.62 %
Caculate: 199200/214200, Finish:93.00 %
Caculate: 200000/214200, Finish:93.37 %
Caculate: 200800/214200, Finish:93.74 %
Caculate: 201600/214200, Finish:94.12 %
Caculate: 202400/214200, Finish:94.49 %
Caculate: 203200/214200, Finish:94.86 %
Caculate: 204000/214200, Finish:95.24 %
Caculate: 204800/214200, Finish:95.61 %
Caculate: 205600/214200, Finish:95.99 %
Caculate: 206400/214200, Finish:96.36 %
Caculate: 207200/214200, Finish:96.73 %
Caculate: 208000/214200, Finish:97.11 %
Caculate: 208800/214200, Finish:97.48 %
Caculate: 209600/214200, Finish:97.85 %
Caculate: 210400/214200, Finish:98.23 %
Caculate: 211200/214200, Finish:98.60 %
Caculate: 212000/214200, Finish:98.97 %
Caculate: 212800/214200, Finish:99.35 %
Caculate: 213600/214200, Finish:99.72 %

In [32]:
save = np.array(result) + abs(np.min(np.array(result)))

In [33]:
save = save*0.35

In [34]:
dataset = pd.DataFrame({'item_cnt_month':save })

In [35]:
dataset.to_csv('submission.csv',header=True,index=True)